pipeline_figure/
Q1/experiments/*/results/train_*/**
Q1/experiments_minimal/*/results/train_*/**
Q1/feature_importance/*/results/drop_*
Q1/bayesian/*/results/**
Q1/biased/**
Q0/experiments/*/*/results/**
Q0/fidelity/baselines/*/bivariate
Q0/fidelity/baselines/*/marginal


Q1/across_experiments_sensitivity/merged_all_experiments.csv
Q1/experiments/*/full.csv
Q1/across_experiments_eval/Improvement_in_distributions_refinement.svg
*.svg
Q1/experiments/*/results/evaluation/eval_adm1_seed_metrics_train_*.csv
Q1/experiments_minimal/*/results/evaluation/eval_adm1_seed_metrics_train_*.csv
*.pdf
*.csv
#Q1/across_experiments_eval/variability.ipynb
#Q1/experiments/*/results/evaluate.ipynb
#!Q1/experiments/eth_micron/results/evaluate.ipynb
##Q1/experiments/*/results/sensitivity.ipynb
#!Q1/experiments/eth_micron/results/sensitivity.ipynb
#Q1/experiments_minimal/*/results/evaluate.ipynb
#!Q1/experiments_minimal/eth_micron/results/evaluate.ipynb
#Q1/experiments_minimal/*/results/sensitivity.ipynb
#!Q1/experiments_minimal/eth_micron/results/sensitivity.ipynb
#Q1/across_experiments_eval/cross_eval.ipynb
#Q1/experiments/eth_micron/results/sensitivity.ipynb
#Q1/across_experiments_eval_minimal/cross_eval.ipynb
#Q1/decision_supp_model/eval_tree.ipynb
.ipynb
*.png
*.parquet
*.xlsx